<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ac.airconditionsuit.app">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- TODO 这边我把 android:screenOrientation="portrait" 都去掉了, 因为这句话加在了AppTheme里面。所有Activity默认都是portrait -->
    <application
            android:name=".MyApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:largeHeap="true">
        <activity
                android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


        </activity>

        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name">

        </activity>
        <activity
                android:name=".activity.SoftwareInfoActivity">
        </activity>
        <activity
                android:name=".activity.UserInfoActivity">
        </activity>
        <activity
                android:name=".activity.LoginActivity"
                android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>

        <activity
                android:name=".activity.HomeSettingActivity">
        </activity>
        <activity
                android:name=".activity.SoftwarePageActivity">
        </activity>
        <activity
                android:name=".activity.AddDeviceActivity">
        </activity>
        <activity
                android:name=".activity.ChangeHomeNameActivity">
        </activity>
        <activity
                android:name=".activity.RegisterActivity">
        </activity>
        <activity
                android:name=".activity.DragDeviceActivity">
        </activity>
    </application>

</manifest>
